{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static 'dist/style.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="sticky inset-x-0 top-0 z-50 text-white bg-black/80 border-b border-white/10">
        <div class="container mx-auto flex items-center justify-between p-4">
            <!-- Left: Logo -->
            <div class="flex items-center">
                <a href="{% url 'home' %}" class="animate-pulse">
                    <img src="{% static 'logo.png' %}" class="animate-spin h-12 w-12 object-contain mix-blend-screen bg-blue-500 rounded-full drop-shadow-xl/50 drop-shadow-blue-500">
                </a>
            </div>
            <!-- Right: Links -->
            <div class="flex items-center space-x-6">
                <a href="{% url 'home' %}" 
                    class="italic hover:text-blue-400 {% if request.path == '/' %}text-blue-400 font-semibold animate-pulse drop-shadow-xl/50 drop-shadow-blue-500{% endif %}">
                    Home
                </a>
                <!-- Left: Links / GitHub -->
                <a href="{% url 'about' %}" 
                    class="italic hover:text-blue-400 {% if request.path == '/about/' %}text-blue-400 font-semibold animate-pulse drop-shadow-xl/50 drop-shadow-blue-500{% endif %}">
                    About
                </a>
                <a href="{% url 'projects' %}" 
                    class="italic hover:text-blue-400 {% if request.path == '/projects/' %}text-blue-400 font-semibold animate-pulse drop-shadow-xl/50 drop-shadow-blue-500{% endif %}">
                    Projects
                </a>
                <a href="{% url 'reports' %}" class="italic hover:text-blue-400 {% if request.path == '/reports/' %}text-blue-400 font-semibold animate-pulse drop-shadow-xl/50 drop-shadow-blue-500{% endif %}">
                    Scientific Reports
                </a>
                <a href="https://github.com/Avipatel1" target="_blank" class="italic hover:text-blue-400">
                    GitHub
                </a>
            </div>
        </div>
    </nav>
    <hr>

    <!-- Page content -->
    {% block content %}
    {% endblock %}

    <hr>
    <footer class="bg-gray-900 text-white">
        <p>&copy; 2025 Avi Patel</p>
    </footer>
</body>
</html>
