{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-center text-blue-600">
    Welcome to My Projects Page
</h1>

<ul>
    {% for project in projects %}
        <li>
            <h3 class="text-xl rounded-xl bg-blue-500 mx-4 text-center">{{ project.title }}</h3>
            <p class="text-center">{{ project.description }}</p>
            {% if project.link %}
                <a href="{{ project.link }}" target="_blank">View Project</a>
            {% endif %}
        </li>
    {% empty %}
        <p>No projects added yet.</p>
    {% endfor %}
</ul>
{% endblock %}
